<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plan">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="plan"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".AlarmActivity" android:parentActivityName=".MainActivity"></activity>
<receiver android:name=".DeviceBootReceiver" android:enabled="false">
    <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/>
    </intent-filter>
</receiver>
        <receiver android:name=".AlarmReceiver"/>
        <service
            android:name=".listService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity
            android:name=".onedayActivity"
            android:parentActivityName=".CalenderActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AddHabitActivity" />
        <activity
            android:name=".CalenderActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChartActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>